# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\study-workspace\study-coursera-paralle-in-java\coursera-Parallel-Programming-in-Java\miniproject_0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
